<div class="chat">
  <div class="card" *ngIf="dialog">
    <div class="card-header msg_head">
      <div class="d-flex bd-highlight">
        <div class="back_link">
          <a [routerLink]='["/dialogs"]'>
            <i class="glyphicon glyphicon-menu-left"></i>
          </a>
        </div>
        <div class="user_info">
          <span>{{dialog.name}} <span class="login-span">@{{name}}</span></span>
          <p *ngIf="dialog">{{dialog.messages.length}} Messages</p>
        </div>
        <div class="img_cont">
          <img src="{{dialog.avatar}}" class="rounded-circle user_img">
          <span class="online_icon" *ngIf="dialog.isOnline"></span>
        </div>
      </div>
    </div>
    <div class="card-body msg_card_body">
      <p *ngIf="!dialog"><em>Loading...</em></p>
      <p *ngIf="dialog && dialog.messages.length == 0"><em>Start your conversation with {{name}}</em></p>
      <message-list [messages]="dialog.messages" *ngIf="dialog && dialog.messages.length > 0"></message-list>
    </div>
    <div class="card-footer">
      <div class="input-group flex-nowrap">
        <div class="input-group-append" (click)="triggerPopover()">
          <span class="input-group-text attach_btn"><i class="glyphicon glyphicon-paperclip"></i></span>
        </div>
        <textarea name="" class="form-control type_msg" [(ngModel)]="messageText" placeholder="Type your message..."></textarea>
        <div class="input-group-append" (click)="postMessage()">
          <span class="input-group-text send_btn"><i class="glyphicon glyphicon-send"></i></span>
        </div>
      </div>
    </div>
  </div>
</div>


<div class="popover fade show" role="tooltip" x-placement="left" *ngIf="isPopoverActive">
  <div class="arrow" style="top: 56px;"></div>
  <h3 class="popover-header">
    <b>Emotion recognition</b><a id="close" class="close" (click)="hidePopover()">×</a>
  </h3>
  <div class="popover-body">
    <div>
      <webcam      [width]="200"
                   [trigger]="triggerObservable"
                   (imageCapture)="handleImage($event)"
                   *ngIf="isPopoverActive"></webcam>
      <div *ngIf="emotionResults">
        <p>
          Is it <b>{{getEmotionResultString()}}</b>?
        </p><a class="btn btn-success" (click)="setEmotionResultToMessage()">Yes</a><a class="btn btn-danger" (click)="clearEmotionResult()">No</a>
      </div>
    </div>
  </div>
</div>
