<div class="panel panel-default">
  <div class="panel-heading">
    <ul class="panel-title nav nav-tabs nav-justified">
      <li role="presentation" class="nav-item" (click)="selectSignInForm()">
        <a class="nav-link" [ngClass]="{active: isSignInForm}" href="#">Sign In</a>
      </li>
      <li role="presentation" class="nav-item" (click)="selectRegisterForm()">
        <a class="nav-link" [ngClass]="{active: !isSignInForm}" href="#">Register</a>
      </li>
    </ul>
  </div>
  <div class="panel-body">
    <app-signin-form *ngIf='isSignInForm'></app-signin-form>
    <app-register-form *ngIf='!isSignInForm'></app-register-form>
  </div>
</div>
