<form (ngSubmit)="onSubmit()" #authForm="ngForm">
  <div class="form-group">
    <label for="reg-acc-login" class="text-center">User name</label>
    <input [(ngModel)]="account.userName" type="text" id="reg-acc-login" class="form-control"
           placeholder="User name" #userName="ngModel" name="userName">
  </div>
  <div class="form-group">
    <label for="reg-acc-email" class="text-center">Email</label>
    <input [(ngModel)]="account.email" type="text" id="reg-acc-email" class="form-control"
           placeholder="Email" #email="ngModel" name="email">
  </div>
  <div class="form-group">
    <label for="reg-acc-password" class="text-center">Password</label>
    <input [(ngModel)]="account.password" type="password" id="reg-acc-password" class="form-control"
           placeholder="Password" #password="ngModel" name="password">
  </div>
  <div class="form-group">
    <label for="reg-acc-passw-conf" class="text-center">Password Confirmation</label>
    <input [(ngModel)]="account.confirmedPassword" type="password" id="reg-acc-passw-conf" class="form-control"
           placeholder="Password" #confirmedPassword="ngModel" name="confirmedPassword">
  </div>
  <div class="form-group">

    <label for="reg-acc-first-name" class="text-center">First Name</label>
    <input [(ngModel)]="account.firstName" type="text" id="reg-acc-first-name" class="form-control"
           placeholder="First name" #firstName="ngModel" name="firstName">
  </div>
  <div class="form-group">
    <label for="reg-acc-second-name" class="text-center">Second Name</label>
    <input [(ngModel)]="account.secondName" type="text" id="reg-acc-second-name" class="form-control"
           placeholder="Second name" #secondName="ngModel" name="secondName">
  </div>
  <div class="form-group">
    <label for="exampleInputFile">Avatar</label>
    <input type="file" id="exampleInputFile" name="file" (change)="getFiles($event)">
  </div>

  <ul *ngIf="result != null && !result.succeeded" class="errors">
    <li *ngFor="let error of result.errors">{{error.code}}: {{error.description}}</li>
  </ul>
  <button type="submit" class="btn btn-primary">Register</button>
</form>

<p *ngIf="result != null && result.succeeded">The user was registered!</p>

