<table class='table' *ngIf="users.length > 0">
  <thead>
    <tr>
      <th>Name</th>
      <th>First Name</th>
      <th>Second Name</th>
      <th>Avatar</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let user of users">
      <td>{{ user.name }}</td>
      <td>{{ user.firstName }}</td>
      <td>{{ user.secondName }}</td>
      <td><img width="100" height="100" src="{{ user.avatar }}" /></td>
    </tr>
  </tbody>
</table>

<p *ngIf="users.length == 0"><em>There is no users with name like this</em></p>
